$navbar-height: 72px;
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #161616 !default;
$primary: #64a19d !default;
// font
// Font overrides
$font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-family-serif: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-family-base: $font-family-serif !default;

body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
}

a {
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}


.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

footer {
  padding: 5rem 0;
}

// nav
#mainNav {
  min-height: 56px;
  background-color: $white;
  .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: $primary;
    border: 1px solid $primary;
    &:focus {
      outline: none;
    }
  }
  .navbar-brand {
    color: $black;
    font-weight: 700;
    padding: .9rem 0;
  }
  .navbar-nav {
    .nav-item {
      font-size: 1.5rem;
      &:hover {
        color: fade(white, 80%);
        outline: none;
        background-color: transparent;
      }
      &:active,
      &:focus {
        outline: none;
        background-color: transparent;
      }
    }
  }
  @media (min-width: 992px) {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    .navbar-brand {
      padding: .5rem 0;
      color: fade-out($white, .5);
    }
    .nav-link {
      transition: none;
      padding: 2rem 1.5rem;
      color: fade-out($white, .5);
      &:hover {
        color: fade-out($white, .25);
      }
      &:active {
        color: white;
      }
    }
    &.navbar-shrink {
      background-color: $white;
      .navbar-brand {
        color: $black;
      }
      .nav-link {
        color: $black;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
        &:hover {
          color: $primary;
        }
        &:active {
          color: darken($primary, 15%);
        }
        &.active {
          color: $primary;
          outline: none;
          border-bottom: 0.25rem solid $primary;
        }
      }
    }
  }
}


// masthead
header.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, #{fade-out($black, .7)} 0%,#{fade-out($black, .3)} 75%,$black 100%), url('../images/bg-masthead.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    h1 {
        font-family: 'Varela Round';
        font-size: 2.5rem;
        line-height: 2.5rem;
        letter-spacing: 0.8rem;
        background: -webkit-linear-gradient(fade-out(white, 0.1), fade-out(white, 1));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    h2 {
        max-width: 20rem;
        font-size: 1rem;
    }
    // media queries
    @media(min-width: 768px) {
        h1 {
            font-size: 4rem;
            line-height: 4rem;
        }
    }
    @media(min-width: 992px) {
        height: 100vh;
        padding: 0;
        h1 {
          font-size: 6.5rem;
          line-height: 6.5rem;
          letter-spacing: 0.8rem;
        }
        h2 {
          max-width: 30rem;
          font-size: 1.25rem;
        }
      }
}
// buttons
.btn {
  box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: $primary;
  &:hover {
    background-color: darken($primary, 10%);
  }
  &:focus {
    background-color: darken($primary, 10%);
    color: white;
  }
  &:active {
    background-color: darken($primary, 15%) !important;
  }
}

// about
.about-section {
  padding-top: 3rem;
  height: 100vh;

  background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%),url('../images/tablet.jpg');
  background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  p {
    margin-bottom: 5rem;
    font-size: 1.2rem;
    line-height: 2rem;
    
  }

  
}
img.profilepic {
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
}


// Projects
.section-2{
  background: linear-gradient(to top, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%),url('../images/bg2.jpg');
  background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    h2 {
      color: $gray-200;
    }
    .wrapper {
      font-family: sans-serif;
      width: 70%;
      margin: 0 auto;
      left: 55%;
      top: 50%;
      transform: translate(-50%, -50%);
      // position: absolute;
    }
    img{
      display: block;
      width: 80%;
      height: auto;
    }
    .content {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      text-transform: uppercase;
      font-size: 28px;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 80%;
      opacity: 0;
      transition: .5s ease;
      background: rgba(63, 191, 191, 0.9);

    }

    .wrapper:hover .overlay {
      opacity: 1;
    }


    
}

// CONTACT SECTION
.contact-section {
  background: linear-gradient(to top, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%),url('../images/contact.jpg');
  background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  padding: 5rem 0 0;
  .card {
    border: 0;
    border-bottom: 0.25rem solid $primary;
    h4 {
      font-size: 0.8rem;
      font-family: 'Varela Round';
      text-transform: uppercase;
      letter-spacing: 0.15rem;
    }
    hr {
      border-color: $primary;
      border-width: 0.25rem;
      width: 3rem;
    }
  }
  .social {
    margin-top: 5rem;
    a {
      text-align: center;
      height: 3rem;
      width: 3rem;
      background: fade-out($white, 0.9);
      border-radius: 100%;
      line-height: 3rem;
      color: fade-out($white, 0.7);
      &:hover {
        color: fade-out($white, 0.5);
      }
      &:active {
        color: $white;
      }
    }
  }
}
.contact-section h1 {
  color: $white;

}

